.container-wrapper {
  display: none;
}

.container-wrapper.active {
  display: block;
}

.dn {
  display: none !important;
}

#payBtn:hover {
  border: 1px solid #000;
}

#score-input {
  border-radius: 3px;
  border: 1px solid #000;
  padding: 5px;
}

.sidebar-nav .btn {
  color: #fff;
}
