:root{
  --main-color:#FFFFFF;
  --active-color: #16AFE6;
  --active-bg: #0d6efd;
  --bg-dark-rgb: 33,37,41;
  --main-font-size::14px;
  --main-font-weight: 400;
}

*,*::before,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--main-font-size);
  line-height: normal;
}

li{
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}




.main{}

.main__inner{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container{
  width: 100%;
  max-width: 1600px;
  /* margin: 0 auto; */
}

.sidebar{
  padding: 12px 20px;
  background-color: rgb(var(--bg-dark-rgb));
  height: 100vh;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.image-block{
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid grey;
width: 100%;
}

.image-block img{
  width: 100%;
  max-width: 190px;
}

.sidebar__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.sidebar__list-item{
  padding: 10px;
}

.sidebar__list-item:hover{
  background-color: var(--active-bg);
  transition: .3s;
  border-radius: 5px;
}

.account__score{
  color: black;
  font-size: var(--main-font-size);
  margin: 40px 35px 0px 40px;
  width: 100%;
  max-width: 220px;
  
}
.account-score-inner{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}
.account-score h3{

}

.account__score span{
  font-weight: var(--main-font-weight);
}

.account__score p{
  color: rgba(0, 0, 0, 0.51);
}



.account__score-button{
  padding: 10px 25px;
  background-color: var(--active-color);
  border-radius: 5px;
  color: var(--main-color);
  cursor: pointer;
  border-color: transparent;
  font-size: var(--main-font-size);
  margin: 22px 0px 12px 0px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  align-self: center;
  width: 100%;
}

.account__score-button:hover{
  opacity: .9;
}

.account__score-naming{
  padding: 12px 0px 0px 0px;
  text-align: center;
  border-top: 1px solid #D9D9D9;
}


.news{

  margin: 40px 25px;
border-radius: 5px;
color: black;
}

.news__inner{
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.news__card{
  width: 100%;
  max-width: 750px;
  background: #D9D9D9;

}

.news__card img{
  width: 100%;
}

.news__card-text{
  padding: 15px 0px 0px 15px;
}

.news__card-text p{
  padding:20px 0px 20px 0px;
}

.news__card-text a{
  display: inline-block;
  padding: 0px 0px 15px 0px;
  text-decoration: underline;
}

.news__card-text a:hover{
  opacity: .9;
}

@media(max-width:1280px){
  body{
      font-size: 10px;
  }
}

@media (max-width: 768px) {
  body{
    font-size: 12px;
}
.image-block{
  margin-bottom: 0px;
}
  .main__inner{
    flex-direction: column;
    align-items: center;
  }

  .sidebar{
    max-width: 100%;
    height: 325px;
  }
  .sidebar__list {
    gap: 5px;
}
}

