:root{
    --main-color:#FFFFFF;
    --active-color: #16AFE6;
    --active-bg: #0d6efd;
    --bg-dark-rgb: 33,37,41;
    --main-font-size::14px;
    --main-font-weight: 400;
  }
  
  *,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    color: var(--main-color);
    font-family: 'Anuphan', sans-serif;
    font-size: var(--main-font-size);
  }
  
  li{
    list-style-type: none;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  
  
  
  .main{}
  
  .main__inner{
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
  
  .container{
    width: 100%;
    max-width: 1600px;
    /* margin: 0 auto; */
  }
  
  .sidebar{
    padding: 12px 20px;
    background-color: rgb(var(--bg-dark-rgb));
    height: 100vh;
    width: 100%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
  }
  
  .image-block{
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid grey;
    width: 100%;
  }
  .image-block img{
    width: 100%;
    max-width: 190px;
  }
  .sidebar__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  
  .sidebar__list-item{
    padding: 10px;
  }
  
  .sidebar__list-item:hover{
    background-color: var(--active-bg);
    transition: .3s;
    border-radius: 5px;
  }
  
  .rates{

  }

  .rates__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }


  .rates__inner-card{
    width: 100%;
    max-width: 285px;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
    border-color: black;
  }

  .card-text{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .card-text p{
    margin-bottom: 25px;
  }

  .rates__inner-card button{
    width: 100%;
    padding: 15px 0px;
    border: none;
    background-color: var(--active-color);
    border-radius: 0px 0px 5px 5px;
    font-size: 22px;
    color: var(--main-color);
    cursor: pointer;
  }

.rates__inner-card h3{
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .main__inner{
      flex-direction: column;
      align-items: center;
    }
  
    .sidebar{
      max-width: 100%;
      height: 37vh;
    }
  }
  
  